<div class="sticky top-0 bg-white z-40 right-0 left-0 pt-4">
	<div x-data="{ open: false, searchbox: false }" class="relative flex flex-col md:items-end md:justify-between md:flex-row">

		<div class="flex justify-between md:items-end flex-row py-1">
			<div class="-mb-5 ml-4 md:ml-8 z-40">
				<a alt="{{tpl_inc ~ 'public/img/logo.svg'}}" href="/">{% include "partials/logo.twig" with {'size': 70, 'fill': 'fill-primary'} %}</a>
			</div>
			{% if ( acl.edit and act == "show" ) %}
				<a href="?do=edit" class="bg-green -mb-3 rounded-full h-12 w-12 ml-4 flex justify-center items-center"><span><i class="md-light material-icons">edit</i></span></a>
				{% if ( acl.admin ) %}
					<a href="?do=admin" class="bg-gray  -mb-3 rounded-full h-12 w-12  ml-4 flex justify-center items-center"><span><i class="md-light material-icons">settings</i></span></a>
				{% endif %}
				<a href="?do=profile" class="bg-orange -mb-3 rounded-full h-12 w-12  ml-4 flex justify-center items-center"><span><i class="md-light material-icons">face</i></span></a>
				<a href="?do=logout" class="bg-red -mb-3 rounded-full h-12 w-12  ml-4 flex justify-center items-center"><span><i class="md-light material-icons">lock</i></span></a>
			{% else %}
				<a href="/" class="pl-4 hidden md:inline-block font-semibold  text-gray-900">{{ conf.tagline }}</a>
			{% endif %}
			<a class="md:hidden align-end pt-5 pr-2" @click="open = !open">
				HAM
			</a>
			
			</div>

			<div>
				
				<nav :class="{'flex': open, 'hidden': !open}" class="h-full md:h-auto flex-col flex-grow hidden pb-4 ml-6 md:ml-0 mt-8 md:mt-0 md:md-0 md:pb-0 md:flex md:justify-end md:flex-row">
				{% if menu %}
				{% for item in menu %}
					{% if item.children %}
						{% include "partials/menu-dropdown.twig" with {'menu': item.children} %}
					{% else %}
				
						<a href="{{item.id}}" class="lg:text-lg rounded-tl-xl rounded-br-xl hover:bg-lightgray px-4 py-1 font-semibold md:mt-0 {% if (item.current or item.current_item_ancestor) %}bg-lightgray{% endif %}">
							{{item.title}}
						</a>
						
				
					{% endif %} 
				{% endfor %}
					
						<a href="#" @click="searchbox = true; $nextTick(() => { setTimeout(() => { document.getElementById('qsearch__in').focus(); }, 300);});" 
						class=" items-center flex lg:text-lg rounded-tl-xl rounded-br-xl hover:bg-lightgray px-4 py-1 font-semibold md:mt-0">{% include "icons/search.twig" with {'size': 20 } %} </a>
					
				{% endif %}
				</nav>
				
			</div>
		
			<div x-show="searchbox" style="display: none" class="inset-0 z-30 absolute bg-white text-black border-0 outline-none rounded-tl-m rounded-br-m" >
				<form style="margin-top: 10px;" class="search-form flex content-end ml-36 relative" action="/start" role="search" id="dw__search" class="searchform">
				<input type="hidden" name="do" value="search">
				<input type="hidden" name="id" value="">
				
				<input style="padding-left: 40px !important" class="leading-none flex-grow pl-20 mr-2 outline-none border-2" x-ref="searchInput" name="q" id="qsearch__in" type="text" autofocus>
				<div class="opacity-50 absolute" style="margin-top: 9px; margin-left: 11px;">{% include "icons/search.twig" with {'size': 20 } %}</div>
				<button class="leading-none" type="submit" title="Suchen">Suchen</button>
				</form>
			</div>
			
	</div>
</div>




