body.de {
    --primary: var(--green);
    --primary-transparent: var(--green-transparent);
    --primary-contrast: var(--green-contrast);
    
    --secondary: var(--lightgreen);
    --secondary-transparent: var(--lightgreen-transparent);
    --secondary-contrast: var(--lightgreen-contrast);
}


body.at, body.local {
    --primary: var(--blue);
    --primary-transparent: var(--blue-transparent);
    --primary-contrast: var(--blue-contrast);
    
    --secondary: var(--lightblue);
    --secondary-transparent: var(--lightblue-transparent);
    --secondary-contrast: var(--lightblue-contrast);
}




body.ch {
    --primary: var(--orange);
    --primary-transparent: var(--orange-transparent);
    --primary-contrast: var(--green-contrast);

    --secondary: var(--lightorange);
    --secondary-transparent: var(--lightorange-transparent);
    --secondary-contrast: var(--lightorange-contrast);

}

.fill-primary {
    fill: var(--primary);
}

.stroke-primary {
    stroke: var(--primary);
}

.stroke-primary-contrast {
    stroke: var(--primary-contrast);
}