

footer h4 {
    @apply text-lg;
    @apply lg:text-2xl;
    @apply font-bold;
    @apply py-4;
}

.medialeft {
    float: left;
}

.mediaright {
    float: right;
}

a.wikilink1, a.wikilink2, a.urlextern {
    color: var(--primary);
}

div.content > h1:first-of-type {
    display: none;
}

iframe {
    @apply my-10;
}