.mediafile.mf_jpg::before {
    content: "";
    background: url('/lib/tpl/kids-team-shop/public/img/filetypes/jpg.svg');
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    display: block;
    position: absolute;
    margin-left: -25px;
}

.fileicon { 
    @apply w-4 h-4 block mr-2;
    background-image: url("/lib/tpl/kids-team-shop/public/img/filetypes/file.svg");
    background-repeat: no-repeat;
}

.fileicon.jpg {
    background-image: url("/lib/tpl/kids-team-shop/public/img/filetypes/jpg.svg");
}

.fileicon.pdf {
    background-image: url("/lib/tpl/kids-team-shop/public/img/filetypes/pdf.svg");
}

.fileicon.zip {
    background-image: url("/lib/tpl/kids-team-shop/public/img/filetypes/zip.svg");
}

.fileicon.doc {
    background-image: url("/lib/tpl/kids-team-shop/public/img/filetypes/doc.svg");
}

.fileicon.xls {
    background-image: url("/lib/tpl/kids-team-shop/public/img/filetypes/xls.svg");
}

.fileicon.ppt {
    background-image: url("/lib/tpl/kids-team-shop/public/img/filetypes/ppt.svg");
}

.fileicon.mp3 {
    background-image: url("/lib/tpl/kids-team-shop/public/img/filetypes/mp3.svg");
}