

form:invalid input[type="submit"] {
    background-color: var(--gray-200) !important;
    color: var(--gray);
}

.input-group, .input-name, .input-user_email, .input-user-field {
    @apply my-8;
  }
  
input[type="text"], input[type="password"], input[type="email"], select, select[type="text"] {
    outline: none !important;
    width: 100%;
    @apply border-2 border-gray-200 rounded-tl-xl rounded-br-xl bg-white duration-300 transition-all ease-in-out text-gray-700;
    padding:  0.5rem 1rem !important;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, select:focus {
    outline: none !important;
    @apply border-primary; 
}

select {
    padding-left: 15px;
}

input[type="checkbox"] {
    @apply appearance-none h-6 w-6 border-2 bg-white border-gray-200 rounded-tl-md rounded-br-md focus:outline-none transition-all;
}

input[type="checkbox"]:checked {
    @apply border-primary;
    box-shadow: inset 0px 0px 0px 2px #fff;
}

input[type="checkbox"]::after {
    content: "\2714";
    @apply text-white transition-all font-bold absolute transform scale-y-0;
    font-size: 19px;
    margin-top: -4px;
    margin-left: 2px;
}

input[type="checkbox"]:checked:after {
    @apply text-primary scale-y-100;
}

.error-message {
    @apply text-red-500;
    @apply text-xs;
    padding-left: 18px;
    display: block;
}


.button-group .button {
    margin-left: 10px;
}

input[type="submit"], button[type="submit"] {
    @apply px-4 py-2 bg-primary  text-white font-bold rounded-tl-lg rounded-br-lg cursor-pointer outline-none;
}

.input-text .label, .input-select label, fieldset .block span {
    @apply inline-block px-4 mx-4 rounded-tl-md  rounded-br-md absolute -mt-2 bg-gray-200 text-black text-sm duration-300 transition-all ease-in-out whitespace-nowrap;
    height: max-content;
}

.input-text:focus-within .label {
    @apply bg-primary text-primary-contrast;
}

fieldset {
    padding-top: 20px !important;
}
  
  
  
.error input, .error select {
   @apply text-red-500;
   @apply border-red-500;
}
  
select:invalid {
    @apply text-gray-500;
}
  
  
.error label {
    @apply bg-red-500;
    @apply text-white
}
  
.input-textarea {
    flex-flow: column;
}
  
.input-textarea label {
    width: max-content;
    margin-top: 0px;
}

.textarea {
    margin-top: 0px;
    margin-bottom: 0px;
    @apply border-2 w-full border-gray-200 rounded-tl rounded-br bg-white px-4 py-2;
    outline: none !important;
  }
  
  .search-form input[type="text"] {
    @apply rounded-br-none;
  }

  .search-form button {
      @apply rounded-tl-none;
  }

  fieldset.search-form {
      display: flex;
  }

  fieldset.search-form input[type="text"] {
    @apply mr-2;
}