.mode_login {
    fieldset {
        legend {
            display: none;
        }
        background: #fff;
        border: none;
        padding: 47px;
        box-shadow: 0px 5px 26px rgba(0,0,0,0.2);
    }
}